/* #attendance:focus {
    background-color: #e1efee;
    border-radius: 0px 0px 0px 8px;
} */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
        url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/icons/MaterialIcons-Regular.woff2)
            format('woff2'),
        url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/icons/MaterialIcons-Regular.woff)
            format('woff'),
        url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/icons/MaterialIcons-Regular.ttf)
            format('truetype');
}

@font-face {
    font-family: 'Bruh Mono';
    font-style: normal;
    font-weight: 300;
    src: url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/mono/BruhMono.woff2)
            format('woff2'),
        url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/mono/BruhMono.woff)
            format('woff');
}

:root {
    --green: #34a753;
    --red: #d93025;
    --yellow: #fabb04;
    --gray: #bababa;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

#dialog-class-title,
#dialog-edit-title {
    top: -6px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

.view {
    overflow-y: auto;
}
.student-view {
    height: 100%;
}

.subtitle {
    position: relative;
    letter-spacing: 0.07272727em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    color: #5f6368 !important;
    margin: 4px 0;
    padding: 8px 24px;
}
.subtitle-button {
    height: 28px;
    margin: 6px 16px;
    padding: 8px 6px 8px 4px;
    --mdc-theme-primary: #5f6368;
}
.subtitle-button .subtitle {
    padding: 8px 0;
}

.help {
    position: absolute;
    top: 8px;
    right: 52px;
}

.sort-anchor {
    position: absolute;
    top: 34px;
    right: 12px;
}

.medium-button {
    width: 48px;
    height: 48px;
    padding: 12px;
    color: #5f6368;
}

.petite-icon {
    font-size: 16px !important;
    height: 16px !important;
    margin-right: 6px !important;
}

.green {
    color: var(--green);
}
.red {
    color: var(--red);
}
.yellow {
    color: var(--yellow);
}
.gray {
    color: var(--gray);
}

#select .mdc-dialog__content {
    padding: 0px;
}

#select .mdc-dialog__surface {
    max-width: 600px;
    border-radius: 8px;
}

#delete-dialog .mdc-dialog__surface {
    border-radius: 8px;
}

#status-bar {
    display: flex;
    height: 8px;
    cursor: pointer;
}
#status-red {
    background-color: var(--red);
}
#status-yellow {
    background-color: var(--yellow);
}
#status-green {
    background-color: var(--green);
}
#status-details {
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.25s;
    margin: 0 12px;
    text-align: center;
    position: relative;
}
#hide-status-details {
    position: absolute;
    bottom: 8px;
    right: 0;
    font-size: 0.8rem;
    height: 27px;
}
#status-presence {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 0 4px 0;
}
#status-unlisted {
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 8px;
}
.status-details-container {
    text-align: center;
    margin-left: -14px;
}
.status-details-container .material-icons {
    vertical-align: text-top;
    font-size: 14px;
}
.status-details-count {
    font-family: 'Bruh Mono', monospace;
    font-size: 14px;
}
.status-details-text {
    text-align: center;
    color: var(--mdc-theme-text-secondary-on-background);
    font-size: 12px;
}

.mdc-list {
    padding: 0px;
}

#unlisted-divider {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px;
    padding-left: 16px;
    letter-spacing: 0;
    background-color: var(--gm-neutral-highlight-color);
}
#add-all-unlisted {
    float: right;
    height: min-content;
    font-size: 0.8rem;
}

.class-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    line-height: 40px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.class-list {
    padding-bottom: 0;
}
.class-entry {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

.mdc-button {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

.mdc-snackbar__surface {
    background-color: #4a4e51;
}
.mdc-snackbar__action {
    color: #8ab4f8 !important;
}

.notification {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.notification:not(.updates .notification) {
    background-color: #f1f3f4;
}

.notification i {
    font-size: 36px;
    color: var(--gm-hint-color);
}

.notification p {
    font-size: 16px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    margin-left: 1em;
    color: var(--gm-hint-color);
}

.notification h2 {
    font-size: 20px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    text-align: center;
    margin: 1em;
}
.notification h2 i {
    font-size: 24px;
    vertical-align: text-bottom;
    padding-right: 4px;
}

.updates {
    max-height: 300px;
    transition: max-height 0.25s;
    background-color: var(--mdc-theme-primary);
    color: white;
    overflow: visible;
}

.collapsed {
    max-height: 0 !important;
    overflow: hidden;
}

.updates i {
    color: white;
}

.updates-actions {
    overflow: hidden;
}

.updates-actions .mdc-button {
    color: white !important;
    padding: 0 16px;
}

.addeth-class {
    width: 100%;
    height: 48px;
    justify-content: left;
    padding-left: 12px;
    color: var(--mdc-theme-primary);
}
.addeth-class .mdc-button__icon {
    width: 36px;
    height: 24px;
    font-size: 24px;
    margin-right: 8px;
    color: var(--mdc-theme-primary);
}
.addeth-class .mdc-button__ripple,
.edit-roster .mdc-button__ripple,
.save-class .mdc-button__ripple {
    border-radius: 0;
}

.edit-roster {
    width: 100%;
}

.confirm-roster {
    width: 100%;
}

#roster-status .mdc-list-item {
    cursor: default;
}

.mdc-list-item {
    border-top: 2px solid grey;
    padding: 0 4px 0 4px !important;
}
.mdc-list-item__graphic {
    width: 36px !important;
    height: 36px !important;
    padding: 0 !important;
    margin-right: 8px !important;
}
.mdc-list-item__meta {
    min-width: 48px;
}
.double-meta {
    min-width: 96px;
}

#export-container {
    text-align: center;
}
#export {
    margin: 16px 0;
    fill: white;
}

.mdc-linear-progress__bar-inner {
    left: 0 !important;
}

.label {
    margin: 16px 20px 8px 20px;
}

.class-name-field {
    margin: 0 20px;
}

.mdc-text-field--textarea {
    width: calc(100% - 40px);
    margin: 0 20px !important;
    align-items: flex-start;
    overflow: hidden;
}

.mdc-text-field--textarea .mdc-text-field__input,
.highlighter {
    line-height: 40px;
    font-size: 12px;
    font-family: 'Bruh Mono', Menlo, Courier, monospace;
    letter-spacing: normal;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.mdc-text-field--textarea .mdc-text-field__input {
    z-index: 1;
}
.mdc-text-field--textarea .mdc-text-field__input::selection {
    background-color: transparent;
}

.highlighter {
    position: absolute;
    padding: 0 16px;
    background: transparent;
    pointer-events: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: transparent;
}
.highlighted {
    background-color: var(--gm-theme-color--elevation-shadow-1);
    padding: 4px 0;
}

.mdc-chip-set {
    max-width: 100%;
    width: calc(100% - 18px);
    position: absolute;
}

.mdc-chip {
    font-size: 12px;
    font-family: 'Bruh Mono', Menlo, Courier, monospace;
    letter-spacing: normal;
    padding-left: 1.5ch;
    padding-right: 1.5ch;
    z-index: 2;
}

.mdc-notched-outline {
    z-index: 3 !important;
}
.box {
    /* padding-top: 280px !important; */
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
  }
  
  .box h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: center;
    color: #202124;
    font-family:  'Google Sans','Roboto','Arial','sans-serif';
    font-size: 24px;
    font-weight: 400;
  }

  .box .inputBox {
    position: relative;
  }
  
  .box .inputBox input {
    width: 93%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;
    
  }
  
  .box .inputBox input:focus {
    outline: none;
    border: 2px solid #1a73e8;
  }
  .box input[type="button"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
  }
  
  .box input[type="button"]:hover {
    background-color: #287ae6;
    box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45), 0 1px 3px 1px rgba(66,133,244,0.3);
  }            

.holder {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .input-holder {
    position: relative;
  }
  
  .input {
      height: 28px;
      font-size: 16px;
      padding: 13px 15px;
      border-radius: 4px;
      border: 1px solid grey;
      width: 300px;
      outline: none;
  }
  
  .input:not(:placeholder-shown).input:not(:focus) + .placeholder {
    transform: scale(.75) translateY(-39px) translateX(-5px);
    color:grey;
    font-size: 1.1rem;
  }
  
  
  .input:focus {
    border-color: #287ae6;
  } 
  
  .input:focus + .placeholder {
    transform: scale(.75) translateY(-39px) translateX(-5px);
    color: #287ae6;
    font-size: 1rem;
  } 
  
  .placeholder {
    position: absolute;
    top: 20px;
    left: 8px;
    padding: 0 8px;
    background-color: white;
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1), opacity 150ms cubic-bezier(0.4,0,0.2,1);
    color: grey;
  }
  .choice{
      display: flex;
      flex-direction: column;
  }

  #main {
    display: flex;
    flex-direction: row;
  }
  
  #main div {
    width: 50px;
    height: 50px;
  }
  select{
    background-color: white;
    height: 30px;
    border-width: 0 0 2px;
  }
  label{
    font-style: italic;
    text-decoration: underline;
  }
  .jarvis{
    font-size: 16px;
    text-decoration: solid;
    font-style: normal;
  }
  .loading{
      align-self: center;
      margin-top: 140px;
  }
  @keyframes ldio-tsxyfp9jf1s {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-tsxyfp9jf1s div { box-sizing: border-box!important }
  .ldio-tsxyfp9jf1s > div {
    position: absolute;
    width: 74.37px;
    height: 74.37px;
    top: 18.315px;
    left: 18.315px;
    border-radius: 50%;
    border: 3.33px solid #000;
    border-color: #3e6d8d transparent #3e6d8d transparent;
    animation: ldio-tsxyfp9jf1s 1s linear infinite;
  }
  
  .ldio-tsxyfp9jf1s > div:nth-child(2), .ldio-tsxyfp9jf1s > div:nth-child(4) {
    width: 65.49000000000001px;
    height: 65.49000000000001px;
    top: 22.755000000000003px;
    left: 22.755000000000003px;
    animation: ldio-tsxyfp9jf1s 1s linear infinite reverse;
  }
  .ldio-tsxyfp9jf1s > div:nth-child(2) {
    border-color: transparent #4b9bbe transparent #4b9bbe
  }
  .ldio-tsxyfp9jf1s > div:nth-child(3) { border-color: transparent }
  .ldio-tsxyfp9jf1s > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-tsxyfp9jf1s > div:nth-child(3) div:before, .ldio-tsxyfp9jf1s > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 3.33px;
    height: 3.33px;
    top: -3.33px;
    left: 32.190000000000005px;
    background: #3e6d8d;
    border-radius: 50%;
    box-shadow: 0 71.04px 0 0 #3e6d8d;
  }
  .ldio-tsxyfp9jf1s > div:nth-child(3) div:after {
    left: -3.33px;
    top: 32.190000000000005px;
    box-shadow: 71.04px 0 0 0 #3e6d8d;
  }
  
  .ldio-tsxyfp9jf1s > div:nth-child(4) { border-color: transparent; }
  .ldio-tsxyfp9jf1s > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-tsxyfp9jf1s > div:nth-child(4) div:before, .ldio-tsxyfp9jf1s > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 3.33px;
    height: 3.33px;
    top: -3.33px;
    left: 27.750000000000004px;
    background: #4b9bbe;
    border-radius: 50%;
    box-shadow: 0 62.160000000000004px 0 0 #4b9bbe;
  }
  .ldio-tsxyfp9jf1s > div:nth-child(4) div:after {
    left: -3.33px;
    top: 27.750000000000004px;
    box-shadow: 62.160000000000004px 0 0 0 #4b9bbe;
  }
  .loadingio-spinner-double-ring-0anvh0z3awgc {
    width: 111px;
    height: 111px;
    display: inline-block;
    overflow: hidden;
    background: white;
  }
  .ldio-tsxyfp9jf1s {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-tsxyfp9jf1s div { box-sizing: content-box; }


  ul{
      padding-inline-start: 5px;
  }.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;
    height:80px;
    width:280px
  }
  .absent{
      margin-top: -10px;
  }
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
       margin-left: 30px;
    width:9%;
    position: relative;
    top: 45%
    
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width:97%;
      margin-left: 50px;
      position: relative;
    top: 33%
  }
  .uploadButton{
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;

  }


.flex-items-teach{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-left: 30px;
    width:90%;
    position: relative;
    top: 38%;
    font-size: large;
    
}
.img-teach{
    width: 16px;
    height: 24%;
    margin-top: 30px;
    margin-right: -30px;

}
.webkisok{
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
}
.imgSheet{
    width: 50px;
}